# ==========================================
# Framework Web e Adaptador Serverless
# ==========================================
fastapi==0.110.0
mangum==0.17.0
uvicorn[standard]==0.28.0

# ==========================================
# Banco de Dados
# ==========================================
psycopg==3.3.4
psycopg-binary==3.3.4

# ==========================================
# Segurança e Autenticação
# ==========================================
PyJWT==2.8.0
bcrypt==4.1.2
email-validator==2.1.1

# ==========================================
# Integração AWS e Ambiente Local
# ==========================================
boto3==1.34.62
python-dotenv==1.0.1
requests